@import "tailwindcss";

:root {
  --container-gutter: 15px;
}

/* Start global rules */
/* Font  */
@font-face {
  font-family: "Integral CF";
  src: url("./assets/fonts/main-font/Fontspring-DEMO-integralcf-bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Versace";
  src: url("./assets/fonts/Versace-Font/Radiant\ Bold\ Condensed\ Regular.ttf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Zara";
  src: url("./assets/fonts/Zara-Font/OPTIBodoni-Antiqua.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gucci";
  src: url("./assets/fonts/Gucci-Font/Gucci-Font/Granjon.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Parada";
  src: url("./assets/fonts/Prada-Font/engry.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Calvin klein";
  src: url("./assets/fonts/alternative-calvin-klein-font/ArTarumianKamar.ttf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}
.Integral-CF {
  font-family: "Integral CF";
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-gutter);
  padding-right: var(--container-gutter);
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.search-bar {
  background: oklab(95.514% 0 -0.00011);
}
.search-bar input:focus {
  outline: none;
}
/* End global rules */
/* Custom Components */
.heading {
  font-family: "Integral CF";
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  padding: 50px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 1023px) {
  .links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f3f0f1;
    padding-top: 30%;
    gap: 50px;
    padding-left: var(--container-gutter);
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    z-index: 4;
    font-size: 20px;
  }

  .active-drop {
    transform: translateX(0);
  }
}
.links > * {
  cursor: pointer;
  transition: 0.3s;
}
.links > *:hover {
  opacity: 70%;
}
.active-drop > * {
  transition: 0.3s;
}
.active-drop > *:hover {
  opacity: 70%;
}
/* End Navbar */
