@import "tailwindcss";

@theme {
  /* This tells Tailwind to use these specific widths for the .container class */
  --container-3xl: 1320px;
  --container-2xl: 1170px;
  --container-xl: 970px;
  --container-lg: 720px;
}

/* Tailwind v4 currently doesn't support '--container-center: true' in the @theme block yet. 
   To make it "The Tailwind Way," you just add this one CSS rule below the import: */

@layer components {
  .container {
    @apply mx-auto px-4;
  }
}

/* Start global rules */
/* Font  */
@font-face {
  font-family: "Integral CF";
  src: url("./assets/fonts/main-font/Fontspring-DEMO-integralcf-bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Versace";
  src: url("./assets/fonts/Versace-Font/Radiant\ Bold\ Condensed\ Regular.ttf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Zara";
  src: url("./assets/fonts/Zara-Font/OPTIBodoni-Antiqua.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gucci";
  src: url("./assets/fonts/Gucci-Font/Gucci-Font/Granjon.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Parada";
  src: url("./assets/fonts/Prada-Font/engry.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Calvin klein";
  src: url("./assets/fonts/alternative-calvin-klein-font/ArTarumianKamar.ttf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
}
.Integral-CF {
  font-family: "Integral CF";
}

.search-bar {
  background: oklab(95.514% 0 -0.00011);
}
.search-bar input:focus {
  outline: none;
}
/* End global rules */
/* Custom Components */
.heading {
  font-family: "Integral CF";
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 1023px) {
  .links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f3f0f1;
    padding-top: 30%;
    gap: 50px;
    padding-left: var(--container-gutter);
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    z-index: 4;
    font-size: 20px;
  }

  .active-drop {
    transform: translateX(0);
  }
}
.links > * {
  cursor: pointer;
  transition: 0.3s;
}
.links > *:hover {
  opacity: 70%;
}
.active-drop > * {
  transition: 0.3s;
}
.active-drop > *:hover {
  opacity: 70%;
}
/* End Navbar */
/* swiper testimonial */

.my-swiper .swiper-slide {
  filter: blur(4px);
  opacity: 0.5;
}
.my-swiper .swiper-slide-active {
  filter: blur(0px) !important;
  opacity: 1 !important;
}
@media (min-width: 1024px) {
  .my-swiper .swiper-slide-active + .swiper-slide {
    filter: blur(0px) !important;
    opacity: 1 !important;
  }
  .my-swiper .swiper-slide-active + .swiper-slide + .swiper-slide {
    filter: blur(0px) !important;
    opacity: 1 !important;
  }
  .my-swiper
    .swiper-slide-active
    + .swiper-slide
    + .swiper-slide
    + .swiper-slide {
    filter: blur(0px) !important;
    opacity: 1 !important;
  }
  .my-swiper .swiper-slide-active {
    filter: blur(4px);
    opacity: 0.5;
  }
}
